/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
.page-main{
    margin: 0;
    padding: 0;
    border-radius: 2px;
}
.header-main{
    display: flex;
}
.header-main, .footer-main{
    background: #885A89;
    margin:auto;
    padding:2%;
    text-align:center;
}
h1 {
    font-family: "Reggae One", sans-serif;
    font-size: 1.5rem;
    padding-right: 2%;
}
h2{
    font-family:"Nunito", sans-serif;
    font-size: 1.0rem;
}
header img{
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 5px 5px #888;
    float: right;
    border-radius: 5px;
}
a[href]:hover{
    color: hotpink;
    text-decoration: none;
}
a[href]{
    color: darkblue;
    font-weight:bold;
    
}
body {
    background-color: white;
    max-width: 600px;
    min-width: fit-content;
    font-family: "Nunito";
    padding: 5px;
    border: 3px solid #885A89;
}
.footer-main{
    color: white;
   text-align: center;
}