/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
.page-main{
    margin: 0;
    padding: 0;
    border-radius: 2px;
}
.header-main{
    display: flex;
}
.header-main, .footer-main{
     background: #885A89;
    margin:auto;
    padding:2%;
    border-radius: 5px;
}
h1 {
    font-family: "Reggae One", sans-serif;
    font-size: 45px;
    padding-right: 2%;
  }
img{
     width: 150px;
    float: right;
    box-shadow: 0px 0px 5px 5px #888;
    border-radius: 5px;
}

body {
    background-color: tan;
    max-width: 600px;
    min-width: fit-content;
    font-family: "Nunito";
    font-size: 20px;
    padding: 5px;
    border: 3px solid #885A89;
    border-radius: 5px;
}
.footer-main{
   text-align: center;
}