@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
body{
    font-family: "Ubuntu", sans-serif;
    margin: auto;
    width:50%;
    font-weight: bold;
}
table{
    text-align:center;
    background-color:darkgrey;
    box-shadow:10px 10px .4em #628ca6;
}
thead tr th, tfoot tr td {
    background-color: #7fb9c2;
}
thead tr th.dark{
    background-color: #628ca6;
    color: white;
}
tr{
    background-color: #e7ffed;
}
tr:nth-child(odd){
    background-color: #e7f0ed;
}
table tbody tr:nth-child(5) td:nth-child(1){
    font-style: italic;
}
.dark{
    background-color: #628ca6;
    color: white;
}
tfoot{
    background-color: #7fb9c2;
    border:solid darkgrey;
}
th, td{
    padding: .75rem;
   
}
/*Color Scheme: 
#e7f0ed;
Data rows =  #e7ffed
#628ca6
#7fb9c2
white
black