/*-----Header and Footer------*/
header{
    font-family: "Reggae One", sans-serif;
    margin: 15px;
    padding: 1rem;
}
h1{
    font-size:3rem;
}
h1, footer{
    text-align: center;
    background-color:  #9BC59D;
}
body{
    background-color: #dbd8cb; 
}
.card{
    align-content:center;
    font-family:"Nunito", sans-serif;
    display: grid;
    grid-template-columns: 100%));
}
section{
    margin: .5rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid #C8AD55;
    box-shadow: 5px 5px 15px #6C5A49;
}
img{
    width: 100%;
    height: auto;
}
/************ Media Quiry for medium screens ***************/
@media only screen and (min-width: 34em) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

/************ Media Quiry for Large screens ***************/
@media only screen and (min-width: 58em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* .primary {
    background-color: #9BC59D; (light green)
    color:black; 
}
.secondary{
    background-color: #C8AD55; (tan gold)
}
.accent1{
    background-color: #6C5A49; (dark brown-gold)
    color: white;
}
.accent2{
    background-color: #271F30; (dark purple)
    color: white;
}*/