/*-----Header and Footer------*/
header{
    font-family: "Reggae One", sans-serif;
    margin: 15px;
    padding: 1rem;
}
h1{
    font-size:3rem;
}
h1, footer{
    text-align: center;
    background-color:  #9BC59D;
}
/*-------body--------*/
h2{
    font-family: "Reggae One", sans-serif;
    font-size: 2rem;
}
body{ 
    background-color: #b4ceb5;
}
.cards{
   
    align-content:center;
    display: grid;
   
}
section{
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    background-color: #dbd8cb;
    border: 2px solid #C8AD55;
    box-shadow: 5px 10px 15px #6C5A49;
    font-family:"Nunito", sans-serif;
    font-size: 1rem;
}
img{
    width: 100%;
    height: auto;
    max-width: 250px;
}
/************ Media Quiry for medium screens ***************/
@media only screen and (min-width: 34em) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

/************ Media Quiry for Large screens ***************/
@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* .primary {
    background-color: #9BC59D; (light green)
    color:black; 
}
.secondary{
    background-color: #C8AD55; (tan gold)
}
.accent1{
    background-color: ; (dark brown-gold)
    color: white;
}
.accent2{
    background-color: #271F30; (dark purple)
    color: white;
}*/