@media only screen and (min-width: 45em){
    h1 {
        font-size:3rem;
       } 
    h2{
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    nav li {
        display: inline-block;
        text-align: center;
        padding-left: 7em;
    }
    .logo{
        width: 8em;
    }
    /*--homepage--*/
    .citycards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img.citycards:nth-child(odd) {
        grid-column: 1/2;
        grid-row:2/3;
    }
    h2, h3, p.citycards:nth-child(even){
        grid-column:1;
    }

    /*--Weather Summary*/
        .summary{
        position: absolute;
        top:25px;
        right: 75px;
    }
    .sec-gallery{
        display: grid;
        grid-template-columns: 50% 50%;
    }
  }