@media only screen and (min-width: 961px){
    h1 {
        font-size:3rem;
       } 
    h2{
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .navigation li:first-child{
        display:none;
    }
    .navigation li {
        display:inline-block;
        padding-left: 1em;
    }
    tr th, tr td{
        padding:10px;
        margin:10px;
    }
    .logo{
        width: 200px;
    }
    .citycards {
        display:flex;
       
    }
    .citycards section{
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 500px;
        min-width: 250px;
    }
    .citycards img{
       
        margin: 5px auto;
        box-shadow: 0 0 15px #271F30;
        max-width: 250px;
        width: 85%;
    }
    .citycards img{
        grid-column: 1;
        grid-row: 1;
    }.citycards details{
        grid-column: 1;
        grid-row: 2;
    }

    .sec-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}