@media only screen and (min-width: 45em){
    h1 {
        font-size:3rem;
       } 
    h2{
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    nav li {
        display: inline-block;
        text-align: center;
        padding-left: 7em;
    }
    .logo{
        width: 8em;
    }
    /*--homepage--*/
    /* .citycards section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .citycards section:nth-child(odd) img{
        grid-column: 1;
        grid-row: 1;
    }
    .citycards section:nth-child(even) img{
        grid-column:2;
    } */
    .citycards section{
        display: flex;
        flex-direction: row
    }
    .citycards section:nth-child(odd){
        flex-direction: row-reverse;
    }
    /*--gallery page--*/
    .sec-gallery{
        display: grid;
        grid-template-columns: 50% 50%;
    }
  }