* {
    box-sizing: border-box;
}
/*----header-footer------*/
.logo{
    float: left;
    justify-content: center;
}
.center{
    text-align: center;
}

/*---body---*/
body{
    background-color: aliceblue;
}

/*Navigation info for page*/


/*----Forms----*/
