@media only screen and (min-width: 600px){
    h1 {
        font-size:3rem;
        } 
    h2{
        font-size: 2rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    nav li {
        display: inline-block;
        text-align: center;
        padding-left: 7em;
    }
    .logo{
        width: 175px;
    }
    .article-img{
        margin: 15px;
        float: right; 
        max-width: 300px;
    }
    .summary{
        position: absolute; 
        top:25px;
        left: 25px;
    }
        /*---Forecast---*/
    div.flex{ /*The three boxes*/
        flex-direction: row;
        max-width: none;
    }
}